.abt-main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 2vw; /* Adjust the gap between columns as needed */
    align-items: center;
    padding: 2vw; /* Adjust padding as needed */
  }

.abt-main :hover{
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  /* Adjust padding and grid layout for smaller screens */
  @media (max-width: 768px) {
    .abt-main {
      grid-template-columns: 1fr; /* Single column layout */
      gap: 4vh; /* Increase gap for vertical alignment */
    }
  

    .abt-card {
      grid-column: 1 / 2; 
      margin-left: 2vw;/* Full width for small screens */
    }
  
    .abti {
      grid-column: 1 / 2; /* Full width for small screens */
    }
  }

  
  .abt-card {

    padding: 2vw; /* Add some padding for better spacing */
  }

  
  .abti {
    border-radius: 1vh;
    border: 2px solid rgb(159, 154, 154);
    background-image: url('../assets/final.3jpg.png'); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    height: 70%;
    margin-left: 9vw;
    padding: 8%; /* Reduced padding by 20% */
    width: 60%;
    min-height: 50vh; /* Ensure the image container has a minimum height */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
  }
  

  .abti:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .button-primary,
.button-secondary {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-primary:hover,
.button-secondary:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.button-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

.button-secondary:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}
