
.kunal1{
    width:100%;
    height:80%;

}
.full{
    
}
.kunal{
    font-size: 9vw;
    font-weight: 500;
    width: 50vw;    
    
    
}
.half{
    margin-left: 10vw;
}
.engineer{
    margin-top: 5vh;
    font-size: 5vw;
}